.blog-preview {
  //   outline: 1px solid blue;
  border-bottom: 1px solid #fafafa;
  padding: 1.3rem 1.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;

  a {
    text-decoration: none;
  }

  h2 {
    font-weight: 600;
  }

  p {
    color: #b8bfd6;
  }

  &:hover {
    background-color: #fafafa;
    border-radius: 0.3rem;
    // border: 1px solid var(--color-primary);

    h2 {
      color: var(--color-primary);
    }
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

button {
  outline: 0;
  border: 0;
  background-color: var(--color-primary);
  color: white;
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.1rem;
  cursor: pointer;
}
