.blog {
  h1 {
    font-size: 2rem;
    color: var(--color-primary);
    // margin-bottom: 0.5rem;
  }

  h3 {
    font-weight: 500;
    color: grey;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    margin-top: 1.2rem;
    width: 100px;
    outline: 0;
    border: 0;
    background-color: var(--color-primary);
    color: white;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
